<img src="https://user-images.githubusercontent.com/47347216/54076821-ae39c680-42d5-11e9-8cc7-1090358aca62.png?raw=true" width="840" height="260" align="middle" />

### Table of Contents
- 1. [Problem Statement](#section1)</br>
    - 1.1 [Introduction](#section101)<br/>
    - 1.2 [Data source and data set](#section102)<br/>
- 2. [Load the packages and data](#section2)</br>
- 3. [Data profiling](#section3)</br>
    - 3.1 [dtypes](#section301)<br/>
    - 3.2 [head](#section302)<br/>
    - 3.3 [describe](#section303)<br/>
    - 3.4 [sample](#section304)<br/>
    - 3.5 [Pandas profiling](#section305)<br/>
    - 3.6 [Initial observations](#section306)<br/>
    - 3.7 [Final observations](#section307)<br/>
- 4. [Data normalization](#section4)</br>
    - 4.1 [Standardize column headers to lower case](#section401)<br/>
    - 4.2 [Convert timestamp to date-time](#section402)<br/>
    - 4.3 [Missing data and its imputation](#section403)<br/>
    - 4.4 [Outlier Treatment](#section404)<br/>
    - 4.5 [Handling NaN data in categorical variables](#section405)<br/>            
    - 4.6 [Grouping](#section406)<br/>
- 5. [Identify patterns in the data](#section5)</br>
    - 5.1 [Treatment vs work_interfere](#section501)<br/>
    - 5.2 [Age Category Vs seeking treatment](#section502)<br/>
    - 5.3 [Family history Vs Seeking treatment](#section503)<br/>
    - 5.4 [Employee count of Companies](#section505)<br/>
    - 5.5 [Employee Count Vs treatment](#section506)<br/>
    - 5.6 [Using Donut chart to check the relationship between Gender and Treatment](#section507)<br/>
    - 5.7 [Seaborn swarm plot](#section508)<br/>
- 6. [Analysis through questions](#section6)</br>
     - 6.1 [How does the frequency of mental health illness vary by geographic location?](#section601)<br/>
         - 6.1.1 [Which countries contribute the most?](#section602)<br/>
         - 6.1.2 [Which state contributes the most?](#section603)<br/>
         - 6.1.3 [What is the contribution of top 3 countries among all?](#section604)<br/>
         - 6.1.4 [What is the count and percentage of work interfere in work of the employees for the top 3 countries?](#section605)<br/>
         - 6.1.5 [What is the total number of employees going for treatment from the top 3 countries?](#section606)<br/>
         - 6.1.6 [ How many people did go for treatment on the basis of gender for the top 3 countries?](#section607)<br/>
     - 6.2 [Relationship between mental health and attitude.](#section608)<br/>
- 7. [Conclusion](#section7)<br/>

<a id=section1></a> 
## 1. Problem Statement

"US H1B Visa dataset has extracted from US Department of labour Employment site. This public disclosure file contains 2009 year data about the US employeers who employed foreign workers and also the details related to their H1B petition"
<a id=section101></a> 
### 1.1. Introduction
This Exploratory Data Analysis is to practice Python skills learned till now on a structured data set including loading, inspecting, wrangling, exploring, and drawing conclusions from data. The notebook has observations with each step in order to explain thoroughly how to approach the data set. Based on the observation some questions also are answered in the notebook for the reference though not all of them are explored in the analysis. 

<a id=section102></a> 
### 1.2. Data source and dataset

__a__. How was it collected? 

- __Name__: "US H1B Visa-2009 Data Set"
- __Sponsoring Organization__: US Department of Labour Employment
- __Year__: 2009
- __Description__: "US H1B Visa dataset has extracted from US Department of labour Employment website. This public disclosure file contains 2009 year data about the US employeers who employed foreign workers and also the details related to their H1B petition"

__b__. Is it a sample? If yes, was it properly sampled?
- Yes, it is a sample. H1B Dataset have collected from the reliable source. This public disclosure file contains 268244 of Visa cases, however, I have considered One lakh records of H1B petition for the year 2009 but it appears *not* to be a random sample, so we can assume that it is not representative.

DataSource 
https://www.foreignlaborcert.doleta.gov/performancedata.cfm > Disclosure Data Tab > LCA  Programs (H-1B, H-1B1, E-3)
DataSheet Link : https://www.foreignlaborcert.doleta.gov/docs/lca/H-1B_Case_Data_FY2009.xlsx

<a id=section2></a> 
### 2. Load the packages and data

#### Install SeaBorn & pandas_profiling
```python
!pip install pandas_profiling
!pip install seaborn
```

In [117]:
# Import packages
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 100) 
H1_status = pd.read_csv ('https://raw.githubusercontent.com/karthikeyanbalusamy/project/master/H1B_data.csv')
H1_status.sample (5)

,SUBMITTED_DATE,CASE_NO,PROGRAM_DESIGNATION,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTY,EMPLOYER_POSTAL_CODE,NBR_IMMIGRANTS,BEGIN_DATE,END_DATE,JOB_TITLE,DOL_DECISION_DATE,OCCUPATIONAL_CODE,OCCUPATIONAL_TITLE,APPROVAL_STATUS,WAGE_RATE_1,RATE_PER_1,MAX_RATE_1,PART_TIME_1,CITY_1,STATE_1,PREVAILING_WAGE_1,WAGE_SOURCE_1,YR_SOURCE_PUB_1,OTHER_WAGE_SOURCE_1,WAGE_RATE__2,RATE_PER_2,MAX_RATE_2,PART_TIME_2,CITY_2,STATE_2,PREVAILING_WAGE_2,WAGE_SOURCE_2,YR_SOURCE_PUB_2,OTHER_WAGE_SOURCE_2,WITHDRAWN
72261,2/6/2009,I-09037-4658675,R,ERNST & YOUNG LLP,"200 PLAZA DRIVE, SUITE 2222",NaN,SECAUCUS,NJ,HUDSON,07094,1,8/6/2009,8/6/2012,TAX MANAGER,2/6/2009,160.0,"ACCOUNTANT, AUDITORS, AND RELATED OCCUPATIONS",CERTIFIED,79352,YR,187000.0,N,NEW YORK,NY,79352,Other,2009.0,ONLINE WAGE LIBRARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
90110,2/24/2009,I-09049-4682603,R,BANK OF AMERICA N.A.,1100 NORTH KING STREET,NaN,WILMINGTON,DE,NEW CASTLE,19884,1,6/2/2009,6/2/2012,VP; CONSUMER PRODUCT STRATEGIC ANALYST III,2/24/2009,50.0,OCCUPATIONS IN ECONOMICS,CERTIFIED,58959,YR,78959.0,N,WILMINGTON,DE,50502,Other,2009.0,ETA ALC WAGE SURVEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
22127,11/6/2008,I-08311-4554597,R,"ELECTRONIC DATA SYSTEMS, LLC",5400 LEGACY DRIVE,H3-3A-05,PLANO,TX,COLLIN,75024,1,11/6/2008,12/9/2010,CONSULTANT,11/6/2008,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,70000,YR,NaN,N,SAN JOSE,CA,64709,Other,2008.0,OES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
55418,1/12/2009,I-09012-4622587,R,TWIN CITIES CHINESE DANCE CENTER,1057 HIGHWAY 96 W,NaN,ST. PAUL,MN,RAMSEY,55126,1,1/12/2009,1/11/2012,ARTISTIC DIRECTOR,1/12/2009,149.0,OTHER OCCUPATIONS IN ART,CERTIFIED,30,HR,NaN,Y,ST. PAUL,MN,25,Other,2009.0,OES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6878,10/10/2008,I-08278-4514321,R,"ITELLIGENCE, INC.",7870 EAST KEMPER ROAD,SUITE 300,CINCINNATI,OH,HAMILTON,45249,20,10/10/2008,10/10/2011,SAP TECHNICAL CONSULTANT,10/10/2008,30.0,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,40456,YR,NaN,N,OMAHA,NE,40456,Other,2008.0,OES WAGE SURVEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

<a id=section3></a> 
### 3. Data Profiling

Review the data types and sample data to understand what variables we are dealing with?<br>
Which variables need to be transformed in some way before they can be analyzed?

Below is the reference link for the Column Description
https://www.foreignlaborcert.doleta.gov/pdf/H-1B%20Efile%20Record%20Layout%20FY09.rtf

Additionally, below key-column of the data will be analyzed and perform the necessary transformations as part of Data Engineering.
SUBMITTED_DATE, CASE_NO, EMPLOYER_NAME, NBR_IMMIGRANTS, JOB_TITLE, APPROVAL_STATUS, WAGE_RATE_1,
PROGRAM_DESIGNATION,PREVAILING_WAGE_1,CITY_1

<a id=section301></a>

In [6]:
H1_status.dtypes                                                                      # Display the data type for each variable

SUBMITTED_DATE           object
CASE_NO                  object
PROGRAM_DESIGNATION      object
EMPLOYER_NAME            object
EMPLOYER_ADDRESS1        object
EMPLOYER_ADDRESS2        object
EMPLOYER_CITY            object
EMPLOYER_STATE           object
EMPLOYER_COUNTY          object
EMPLOYER_POSTAL_CODE     object
NBR_IMMIGRANTS            int64
BEGIN_DATE               object
END_DATE                 object
JOB_TITLE                object
DOL_DECISION_DATE        object
OCCUPATIONAL_CODE       float64
OCCUPATIONAL_TITLE       object
APPROVAL_STATUS          object
WAGE_RATE_1               int64
RATE_PER_1               object
MAX_RATE_1              float64
PART_TIME_1              object
CITY_1                   object
STATE_1                  object
PREVAILING_WAGE_1         int64
WAGE_SOURCE_1            object
YR_SOURCE_PUB_1         float64
OTHER_WAGE_SOURCE_1      object
WAGE_RATE__2            float64
RATE_PER_2               object
MAX_RATE_2              float64
PART_TIME_2              object
CITY_2                   object
STATE_2                  object
PREVAILING_WAGE_2       float64
WAGE_SOURCE_2            object
YR_SOURCE_PUB_2         float64
OTHER_WAGE_SOURCE_2      object
WITHDRAWN                object
dtype: object

In [7]:
H1_status.describe(include = 'all')                                                    # Descriptive statistics for the numerical variables

,SUBMITTED_DATE,CASE_NO,PROGRAM_DESIGNATION,EMPLOYER_NAME,EMPLOYER_ADDRESS1,EMPLOYER_ADDRESS2,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_COUNTY,EMPLOYER_POSTAL_CODE,NBR_IMMIGRANTS,BEGIN_DATE,END_DATE,JOB_TITLE,DOL_DECISION_DATE,OCCUPATIONAL_CODE,OCCUPATIONAL_TITLE,APPROVAL_STATUS,WAGE_RATE_1,RATE_PER_1,MAX_RATE_1,PART_TIME_1,CITY_1,STATE_1,PREVAILING_WAGE_1,WAGE_SOURCE_1,YR_SOURCE_PUB_1,OTHER_WAGE_SOURCE_1,WAGE_RATE__2,RATE_PER_2,MAX_RATE_2,PART_TIME_2,CITY_2,STATE_2,PREVAILING_WAGE_2,WAGE_SOURCE_2,YR_SOURCE_PUB_2,OTHER_WAGE_SOURCE_2,WITHDRAWN
count,100000,100000,100000,100000,100000,41498,100000,100000,89388,100000,100000.00000,100000,100000,100000,100000,99990.000000,99990,100000,1.000000e+05,100000,2.221400e+04,100000,100000,100000,1.000000e+05,100000,86243.000000,86227,1.141400e+04,11414,2.333000e+03,11414,11412,11414,11414.000000,11414,10877.000000,10877,100000
unique,159,100000,4,25471,24860,3652,3348,57,933,8116,NaN,354,1393,20769,156,NaN,105,2,NaN,5,NaN,2,5318,57,NaN,3,NaN,1316,NaN,4,NaN,2,1917,54,NaN,3,NaN,390,2
top,3/3/2009,I-08331-4578497,R,MICROSOFT CORPORATION,ONE MICROSOFT WAY,SUITE 200,NEW YORK,CA,MIDDLESEX,98052,NaN,1/1/2009,12/31/2011,PROGRAMMER ANALYST,3/3/2009,NaN,OCCUPATIONS IN SYSTEMS ANALYSIS AND PROGRAMMING,CERTIFIED,NaN,YR,NaN,N,NEW YORK,CA,NaN,Other,NaN,ONLINE WAGE LIBRARY,NaN,yr,NaN,N,NEW YORK,NJ,NaN,Other,NaN,Online Wage Library,N
freq,2034,1,97606,1531,1532,1125,6061,14831,8576,1611,NaN,2309,1212,13318,2032,NaN,45611,99506,NaN,90200,NaN,96117,6860,16983,NaN,86240,NaN,18461,NaN,9673,NaN,10689,431,1385,NaN,10875,NaN,2096,89930
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.72832,NaN,NaN,NaN,NaN,59.574977,NaN,NaN,7.204214e+04,NaN,8.847769e+04,NaN,NaN,NaN,5.939195e+04,NaN,2008.134086,NaN,6.025085e+04,NaN,6.923102e+04,NaN,NaN,NaN,50015.044770,NaN,2008.204560,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.47247,NaN,NaN,NaN,NaN,53.186203,NaN,NaN,8.972522e+05,NaN,7.521297e+05,NaN,NaN,NaN,7.336267e+05,NaN,9.604924,NaN,1.040692e+05,NaN,5.820218e+04,NaN,NaN,NaN,29012.685669,NaN,0.468761,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,6.000000e+00,NaN,7.000000e+00,NaN,NaN,NaN,1.000000e+00,NaN,11.000000,NaN,6.000000e+00,NaN,1.000000e+01,NaN,NaN,NaN,6.000000,NaN,2006.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,4.800000e+04,NaN,6.000000e+04,NaN,NaN,NaN,4.239000e+04,NaN,2008.000000,NaN,5.000000e+04,NaN,5.200000e+04,NaN,NaN,NaN,44020.750000,NaN,2008.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,6.000000e+04,NaN,8.000000e+04,NaN,NaN,NaN,5.500000e+04,NaN,2008.000000,NaN,6.000000e+04,NaN,7.000000e+04,NaN,NaN,NaN,51397.000000,NaN,2008.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,90.000000,NaN,NaN,8.000000e+04,NaN,1.050000e+05,NaN,NaN,NaN,7.080300e+04,NaN,2008.000000,NaN,7.000000e+04,NaN,1.000000e+05,NaN,NaN,NaN,61697.500000,NaN,2008.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999.00000,NaN,NaN,NaN,NaN,297.000000,NaN,NaN,2.222222e+08,NaN,1.111111e+08,NaN,NaN,NaN,2.222222e+08,NaN,2009.000000,NaN,1.000960e+07,NaN,1.350000e+06,NaN,NaN,NaN,546987.000000,NaN,2009.000000,NaN,NaN

In [13]:
H1_status.CITY_1.nunique()

5318

In [25]:
H1_status.CITY_1

array([' \t DALLAS-PLANO-IRVING, TX METRO DIV', '  REDMOND',
       ' ALPHARETTA', ' ASHBURN', ' ATLANTA', ' BELLEVUE', ' BOWIE',
       ' CARLSBAD', ' CARMEL', ' CHADDS FORD', ' CHARLESTOWN',
       ' CHARLOTTE', ' COLUMBUS', ' DORCHESTER', ' DUNCAN', ' EATONTOWN',
       ' EDISON', ' EL SEGUNDO', ' EL SEGUNO', ' FALLS CHURCH', ' FARGO',
       ' FORT MEYERS', ' FORT VALLEY', ' FRAMINGHAM', ' FREDERICKSBURG',
       ' GREENVILLE', ' HERNDON', ' HOFFMAN ESTATES', ' HOUSTON',
       ' IRVING', ' ISLANDIA', ' ISSAQUAH', ' ITASCA', ' KENDALL PARK',
       ' LAKE SUCCESS', ' LAS COLINAS', ' LAS VEGAS', ' LEXINGTON',
       ' LIVONIA', ' LONG ISLAND CITY', ' LOS ANGELES', ' MAHWAH',
       ' MARIETTA', ' MIAMI LAKES', ' MOSUS LAKE', ' MOUNT KISCO',
       ' MOUNTAIN VIEW', ' NAPERVILLE', ' NEW YORK', ' NEWBURGH',
       ' PATERSON', ' PAWTUCKET', ' PHILADELPHIA', ' PHOENIXVILLE',
       ' PITTSBURG', ' PLAINSBORO', ' REDMOND', ' RESTON', ' RICHMOND',
       ' ROCKLAND', ' ROCKVILLE', ' SACRAMENTO', ' SAN JOSE',
       ' SCHAUMBURG', ' SEATTLE', ' SECAUCUS', ' SPRINGFIELD',
       ' WASHINGTON', ' WICHITA', ' WINDSOR MILL', ' WOOD PARK',
       ' WORCESTER', '1', '1 PEPSI WAY, SOMERS',
       '100 TICE BLVD, WOODCLIFF LAKE', '101608',
       '1050 CROWN POINT PKWY ATLANTA', '10521 SOUTH HIGHWAY, M-52',
       '10925 ANTIOCH, SUITE # 101',
       '1099 N MERIDIAN ST, INDIANAPOLIS-46240', '11',
       '11 MADISON AVE, NEW YORK', '1100 VIRGINIA DR, FORT WASHINGTON',
       '111111111', '1150 WILSHIRE BLVD.',
       '11600 AMERICAL DREAMS WAY RESTON 20190',
       '124 W CAPITAL AVE LITTLE ROCK', '12555 CINGULARWAY, ALPHARETTA',
       '1301 FIRST STREET', '140 WEST 62ND STREET',
       '14000 CITICARDS WAY,JACKSONVILLE',
       '150 CLOVE RD, LITTLE FALLS 07424',
       '1501 MICHAEL DRIVE, WOOD DALE',
       '15010 CAPITAL ONE DRIVE, RICHMOND 23238', '1515 HOLCOMBE',
       '1625 W. OLYMPIC BLVD. M-107',
       '1776 WEST LAKES PKWY WEST DES MOINES',
       '1900 FOX DR, CHAMPAIGN 61820', '191 E HANOVER AVE, MORRISTOWN',
       '195 BROADWAY', '20 BROAD STREET', '200 NORTH SEPULVEDA ELSEGUNDO',
       '2200 MASTERCARD BLVD', '2211 ELLIOTT AVENUE, #400, SEATTLE-98121',
       '22222222', '2300 PRESIDENTIAL WAY', '23297 SOUTH POINTE DR.',
       '2495 ABOTTS FORD WAY, DUBLIN',
       '2801 MARKET ST, ST. LOUIS MO 63103', '29219 CANWOOD STREET',
       '300 S BREVARD ST, NC', '31-33 EAST 28TH STREET',
       '3500 CAMP BOWIE BLVD.', '38 49B BOSTON RD.10466',
       '383 MIDDLE STREET, BRISTOL', '3849 BOSTON RD, 10466',
       '400 CALGON CARBON DR, PITTSBURGH-15205',
       '407 N MAPLE DR BEVERLY HILLS', '4101 NW URBANDALE DR, URBANDALE',
       '4229 LAFAYETTE CENTER DR, 1625, CHANTILLY-20151',
       '4266 ELDRIDGE LOOP', '45 HAYDEN AVENUE', '4505 COLUMBUS STREET',
       '4800 BRADDOCK KNOLL WAY', '5 PENN PLAZA',
       '5215 NORTH O CORNER BLVD IRVING', '533 BOLIVAR ST.',
       '550 FOOTHILL DRIVE, SALTLAKE CITY', '550 MADISON AVE',
       '550 MADISON AVENUE', '550 S. JACKSON STREET', '576 MAIN STREET',
       '594 MARRETT ROAD, LEXINGTON-02421', '600 DRESHER RD HORSHAM',
       '605 HOLDERRIETH BLVD', '6310 HILLSIDE COURT, STE 101',
       '642 SOMERSET AVE', '6600 N LINCOLN AVE, SUITE 416',
       '6942 CERNECH RD', '70000', '7018 S UTICA',
       '7152 LORD BALTIMORE DR, BALTIMORE', '72 SPRING ST.',
       '77 HOT METAL STREET, PITTSBURGH', '7701 E TELECOM PARKWAY, TAMPA',
       '8000 JONES BRANCH DRIVE, MC LEAN',
       '8100 NATIONS WAY JACKSONVILLE',
       '8200 CORAL SEA ST NE, MOUNDS VIEW', '863 HAMILTON STREET',
       '900 CATON AVE.', '900 COTTAGE GROVE ROAD, HARTFORD',
       '9119 SOUTH GESSNER RD. SUITE 109A-C', '959 TERRY ST, EUGENE',
       '9888 BELLAIRE BLVD., SUITE 154', '?READING', 'A', 'AA',
       'ABBEVILLE', 'ABBOTT PARK', 'ABERDEEN', 'ABILENE', 'ABINGTON',
       'ACCOMAC', 'ACTON', 'ACWORTH', 'ADA', 'ADDISON', 'ADDISTON',
       'ADEL', 'ADELPHI', 'ADRIAN', 'ADVANCE', 'AFFTON', 'AGOURA',
       'AGOURA  HILLS', 'AGOURA HILLA', 'AGOURA HILLS', 'AGUORA HILLS',
       'AGURA HILLS', 'AIKEN', 'AIRMONT', 'AKRON', 'AKRON; RAVENNA',
       'ALACHUA', 'ALAMEDA', 'ALAMEDA COUNTY',
       'ALAMEDA-OAKLAND-FREMONT-HAYWARD, CA METRO DIV', 'ALAMO',
       'ALAMONGORDO', 'ALBANY', 'ALBEQUERQUE', 'ALBERDEEN', 'ALBERT LEA',
       'ALBERTSON', 'ALBERTVILLE', 'ALBUQUERQUE', 'ALBUQUERQUE MSA',
       'ALBURQUERQUE', 'ALCORN STATE', 'ALDIE', 'ALEDO', 'ALEXANDRIA',
       'ALEXANDRIA CITY', 'ALEXANDRIA,', 'ALFRED', 'ALGONQUIN',
       'ALHAMBRA', 'ALICE', 'ALIQUIPPA', 'ALISO VIEJO', 'ALLEGAN',
       'ALLEN', 'ALLEN PARK', 'ALLENDALE', 'ALLENTOWN', 'ALLENWOOD',
       'ALLIANCE', 'ALMA', 'ALMONT', 'ALOHA', 'ALPHARETA', 'ALPHARETTA',
       'ALPHARETTA (ATLANTA MSA)', 'ALPHARETTA (FULTON COUNTY)',
       'ALPHERETTA', 'ALRINGTON', 'ALSIP', 'ALTADENA',
       'ALTAMONTE SPRINGS', 'ALTIMONTE SPRINGS', 'ALTON', 'ALTOONA',
       'ALVIN', 'ALVISO', 'AMADA', 'AMAHEIM', 'AMANA', 'AMARILLO',
       'AMBER', 'AMBLER', 'AMELIA', 'AMERICAN CANYON', 'AMERICAN FORK',
       'AMERICUS', 'AMES', 'AMHERST', 'AMITY', 'AMITYVILLE', 'AMSTERDAM',
       'ANACONDA', 'ANAHEIM', 'ANAHEIM CITY', 'ANAHEIM HILLS', 'ANALYST',
       'ANCHORAGE', 'ANCRAMDALE', 'ANDERSON', 'ANDOVER', 'ANDREN HILLS',
       'ANDREWS', 'ANGWIN', 'ANKENY', 'ANN ARBOR', 'ANN ARBOR, MI',
       'ANN HARBOR', 'ANNADALE-ON-HUDSON', 'ANNAHEIM', 'ANNANDALE',
       'ANNANDALE-ON HUDSON', 'ANNANDALE-ON-HUDSON', 'ANNAPOLIS',
       'ANNAPOLIS JUNCTION', 'ANNE ARUNDEL', 'ANNISTON', 'ANNVILLE',
       'ANOKA', 'ANOKA COUNTY', 'ANSON', 'ANSONIA', 'ANTHEM', 'ANTIOCH',
       'APACHE JUNCTION', 'APEX', 'APOPKA', 'APPLE VALLEY', 'APPLETON',
       'APPLETON CITY', 'ARCADIA', 'ARCATA', 'ARDEN', 'ARDEN HILLS',
       'ARDMORE', 'ARDSLEY', 'ARECIBO', 'ARGONNE', 'ARKADELPHIA',
       'ARKANSAS - BOS3', 'ARLILNGTON HEIGHTS', 'ARLINGTON',
       'ARLINGTON HEIGHTS', 'ARLINGTON, DISTRICT OF COLUMBIA', 'ARLNGTON',
       'ARMONK', 'ARROYO GRANDE', 'ARTESIA', 'ARVADA', 'ASA', 'ASBURN',
       'ASHBOURNE', 'ASHBURN', 'ASHBURN (LOUDON COUNTY)', 'ASHEVILLE',
       'ASHLAND', 'ASHLAND CITY', 'ASHTABULA', 'ASPEN', 'ASSUMPTION',
       'ASTORIA', 'ATASCADERO', 'ATHENS', 'ATHERTON', 'ATHESN', 'ATLANAT',
       'ATLANTA', 'ATLANTA\t', 'ATLANTA (FULTON COUNTY)',
       'ATLANTA GEORGIA METRO AREA ANALYSIS', 'ATLANTA METRO',
       'ATLANTA METRO AREA ANALYSIS', 'ATLANTA PMSA', 'ATLANTA, MSA',
       'ATLANTA-SANDY SPRINGS-MARIETTA',
       'ATLANTA-SANDY SPRINGS-MARIETTA, GA', 'ATLANTIC CITY', 'ATLANTIS',
       'ATMORE', 'ATTLEBORO', 'AUBURN', 'AUBURN HILLS', 'AUBURNDALE',
       'AUDUBON', 'AUGUSTA', 'AURBAN HILLS', 'AURORA', 'AUSBURN',
       'AUSTELL', 'AUSTIN', 'AUSTIN METRO AREA',
       'AUSTIN METRO AREA ANALYSIS',
       'AUSTIN, ROUND ROCK, CEDAR PARK AREA', 'AUSTWELL', 'AUTIN',
       'AVE MARIA', 'AVENEL', 'AVENEL (MIDDLESEX COUNTY)', 'AVENTURA',
       'AVON', 'AVON LAKE', 'AVON PARK', 'AWENDAW', 'AZLE', 'AZUSA',
       'BABSON PARK', 'BABYLON', 'BAD AXE', 'BAINBRIDGE',
       'BAINBRIDGE ISLAND', 'BAKERSFIELD', 'BALA CYNWYD', 'BALDWIN PARK',
       'BALLWIN', 'BALTIMORE'], dtype=object)

#### Observations

From the CITY data, noticed the invalid data, which includes numeric, spl chrs, address. For Example:
?READING, 1,11,101608,101608,111111111,22222222,70000, A, AA, 1 PEPSI WAY, SOMERS etc. Hence, invalid data is replaced with null.

In [31]:
city = ["1","11","101608","111111111","22222222","70000","FGDFGDF", "SDFSDFDS","SFGGDG"]                                                                             # Assign H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:null if x in city else x)
H1_status['CITY_1'] = H1_status['CITY_1'].apply(lambda x:"NaN" if x in city else x)

In [36]:
H1_status['PROGRAM_DESIGNATION'].unique()

array(['R', 'A', 'C', 'S'], dtype=object)

#### Observations
Program Designation has the code, which Indicates the type of temporary application submitted for processing. R = H-1B; A = E-3 Australian; C = H-1B1 Chile; S = H-1B1 Singapore.

In [52]:
H1_status.JOB_TITLE.sort_values(ascending=True).unique()

array(['   MATH & SCIENCE/MIDDLE SCHOOL TEACHER',
       '  BUSINESS ANALYST MANAGER', '  FINANCE MANAGER', ..., 'YUU',
       'ZONE DIRECTOR OF OPERATIONS', 'ZONING MANAGER'], dtype=object)

#### Observations
Observed that, JOB_TITLE column has few invalid data such as 'YUU', '222'. All the invalid data will be removed.

<a id=section304></a>

<a id=section305><a/>

<a id=section306></a> 
### 3.6. Initial observations:

- Summary of data types in this dataset:

* It has been observed that most of the data are seems to be fine, except few. For Instance, CITY_1 has invalid date with numeric value, Address etc. Which are identified and clened up.


* Program Destignation column has code to indicate the Visa Type. Hence, for better readibility and graph plotting. original value will be replaced in post-profiling

<a id=section307></a> 
### 3.7. Final observations 

- Variables to transform prior to analysis:
 - city Name, JOB_TITLE field has many Invalid data, which are identified and replaced with Null value. Those will be dropped during Normalization.

- It will be important to decide how to handle NaN values.

<a id=section4></a> 
### 4. Data Normalization

<a id=section401><a/>

### 4.1. Replace the PROGRAM_DESIGNATION Code with the VISA Type Description

In [119]:
H1_status['VISA_TYPE'] = H1_status['PROGRAM_DESIGNATION']                                                        # Make a copy of the column to preserve the original data. Work with the new column going forward.

H1B = ["R"]                                                                                        # Assign each type of response to one of two categories
E3_Australian = ["A"]
H1B1_Chile = ['C']
H1B1_Singapore = ['S']

H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:"H1B" if x in H1B else x)
H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:"E3 Australian" if x in E3_Australian else x)
H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:"H1B1 Chile" if x in H1B1_Chile else x)
H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:"H1B1 Singapore" if x in H1B1_Singapore else x)                                       # Confirm that all variable names are now lower case

In [120]:
(H1_status.VISA_TYPE.value_counts()/len(H1_status)*100)

H1B               97.606
E3 Australian      1.832
H1B1 Singapore     0.306
H1B1 Chile         0.256
Name: VISA_TYPE, dtype: float64

### 4.2. Remove Outliers in CITY column

<a id=section404></a> 
### 4.4. Outliers Treatment

For the purpose of this analysis, simply replace any __out-of-range age values with "NaN"__, rather than deleting the rows from the data set.  In a more detailed analysis it could be worth looking more closely at the rows with out-of-range ages and deciding whether it makes more sense to remove them.

In [57]:
city = ["1","11","101608","111111111","22222222","70000","FGDFGDF", "SDFSDFDS","SFGGDG"]                                                                             # Assign H1_status['VISA_TYPE'] = H1_status['VISA_TYPE'].apply(lambda x:null if x in city else x)
H1_status['CITY_1'] = H1_status['CITY_1'].apply(lambda x:"NaN" if x in city else x)

#### Number of H1B Visa applied for each Visa Category

In [135]:
H1_status.VISA_TYPE.value_counts().plot.bar()

#### Observations:
It can be infered from the above plot that the __97%__ of Visa are applied for H1B. Other visa catagories are less than 2%.

#### Top 20 Employeer applied for H1B Visa

In [111]:
# Top 20 Employeer applied for H1B Visa
H1_status.EMPLOYER_NAME.value_counts().head(20).plot.bar()

#### Observations:
Microsoft is the top company applied for H1B Visa, followed by CTS, PATNI, IBM & Infosys. As opposed to other industry, IT companies are the topper in applying for the visa

### # Top Jobs applied for H1B Visa

In [115]:
H1_status.JOB_TITLE.value_counts().head(20).plot.bar()

#### Observations:
- It has been observed that Programmer Analyst has the top in applying for the H1B visa, followed by Software Engineer, Computer Programmer, System Analyst, Assistant Professor. It clearly indicates that more jobs demand for Software industry.

### # Top Salaried jobs

In [134]:
df = pd.DataFrame (H1_status,columns=['JOB_TITLE','PREVAILING_WAGE_1'])
df1 = df.groupby(['JOB_TITLE']).max()[['PREVAILING_WAGE_1']]
df1 = df1.sort_values(by='PREVAILING_WAGE_1', ascending=False)
df1.head(10).plot.bar()

#### Observations:
- System Analyst, Research Worker are teh top most paid job in US. Followed by Sr. Applications Engineer, Sr. Software Engineer, Computer Support Specialist.

### # Approval Status by Visa Type

In [132]:
plt.figure(figsize=(10,5))
sns.countplot("VISA_TYPE", hue="APPROVAL_STATUS", data=H1_status)
plt.title("Approval Status by Visa Type",fontsize=18,fontweight="bold")
plt.ylabel("Number of Visa Cases")
plt.xlabel("Visa Type")
plt.show()

#### Observations:
Rejected Visas are in H1B Visa catagory, other visa types such as Australian; H-1B1 Chile, H-1B1 Singapore have no rejection.

### Conclusion

- H1B Visa petition analysis being conducted helps us to know the Demand on Jobs, Highly paid salary on Jobs, Employers creation more opportunities & Employee preferred city.

- Based on the result, this certainly helps the US Job workers to make a decision on the above data.

- IT Industry is the top in Salary, Demand and employers as opposed to other industry.